.CFUserTextEncoding
.DS_Store
.HelloWorld.txt.un~
.Trash
.bash_history
.bash_profile
.bash_profile.backup
.bash_sessions
.cache
.config
.secret.txt.un~
.ssh
.vim
.viminfo
.vimrc
.wget-hsts
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
autopy
howToVim.txt
install-tl-unx.tar.gz
libpng-1.6.18.tar.gz
libpng-1.6.18.tar.gz.1
secret.txt
tes.py
test
typingCheater
